<div style="color: white; margin-left: 30px; margin-top: 10px; text-align: center"> 
<h1 style="font-size: 3.7em">Niko</h1><hr style="width: 600px">
<br>
<h2>Sobre</h2> 
<br>
<div style="margin-left: 10px; color: #ffffff">
	<div style="width: 100%">
	<p id="typewriter" style="line-height: 1.7; text-align: center"></p>
						<!--p id="typewriter1" style="line-height: 1.7; text-align: center"></p-->
	<p id="typewriter2" style="line-height: 1.7; text-align: center"></p>
	<p id="typewriter3" style="line-height: 1.7; text-align: center"></p>
	
	<script src="dist/core.js"></script>
	<script type="text/javascript">
		const t1 = new Typewriter('#typewriter', { cursor: '', autoStart: false, delay: 0.5 });
		const t3 = new Typewriter('#typewriter2', { cursor: '', autoStart: false, delay: 0.5, });
		const t4 = new Typewriter('#typewriter3', { cursor: '', autoStart: false, delay: 0.5, });
		t1.start()
		.typeString("Olá! Meu nome é Niko, atualmente estou estudando ciências da computação.")
		t3.start()
		.typeString("Sou artista, vê minhas artes ali na <a href='art/' style='color: #ffce47; text-decoration: none'>minha galeria<\a>")
		t4.start()
		.typeString("nao sei oq mais por aqui")
	</script>
</div>
<div style="margin-bottom: 50px">
	<br>
	<h2>Redes Sociais</h2>
	<div style="font-size: 2em; margin-top: 30px">
		<a style="color: #ffffff; text-decoration: none; margin-left: 10px; margin-right: 10px" href="https://github.com/Nikk0o"><i class="fa-brands fa-github"></i></a>
		<a style="color: #ffffff; text-decoration: none; margin-left: 10px; margin-right: 10px" href="https://t.me/nikokoarts"><i class="fa-brands fa-telegram"></i></a>
		<a style="color: #ffffff; text-decoration: none; margin-left: 10px; margin-right: 10px" href="https://tiggi.es/@nikoneco"><i class="fa-brands fa-mastodon"></i></a>
		<a style="color: #ffffff; text-decoration: none; margin-left: 10px; margin-right: 10px" href="https://instagram.com/nicoarto_"><i class="fa-brands fa-instagram"></i></a>
		<a style="color: #ffffff; text-decoration: none; margin-left: 10px; margin-right: 10px" href="https://bsky.app/profile/lagartao.gay"><i class="fa-brands fa-bluesky"></i></a>
	</div>
</div>
<p style="color: #aaaaaa"> E-mail: nknk@lagartao.gay </p>
</div>
</html>
