<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
		<link rel="icon" type="image/x-icon" href="icon/favicon.ico">
	</head>
	<body style="font-size: 0.8em">
		<div class="bg"></div>
		<div class="blur"></div>
		<div class="shade"></div>
		<div>
			<div class="coisas">
				<a style="color: white; margin: auto 10px" href="/../en/">about</a>
				<a style="color: white; margin: auto 10px" href="/../en/art/">artwork</a>
			</div>
			<div style="justify-content: center; margin: 10px auto">
				<div class="content">
					{{ content }}
				</div>
			</div>
		</div>
	</body>
</html>
